<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b3acfe">  <td>19/07/06 10:25:54</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTestNg.endTimer()[pri:0, instance:coding.PrintingTriangle@31ef45e3]">&lt;&lt;endTimer</td> 
<td>&nbsp;</td>  <td>main@1795799895</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>19/07/06 10:25:54</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTestNg.endTimer()[pri:0, instance:coding.PrintingTriangle@31ef45e3]">&lt;&lt;endTimer</td> 
<td>&nbsp;</td>  <td>main@1795799895</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>19/07/06 10:25:54</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PrintingTriangle.printNumber()[pri:2, instance:coding.PrintingTriangle@31ef45e3]">printNumber</td> 
  <td>main@1795799895</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>19/07/06 10:25:54</td>   <td>-16</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PrintingTriangle.printingStar()[pri:1, instance:coding.PrintingTriangle@31ef45e3]">printingStar</td> 
  <td>main@1795799895</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>19/07/06 10:25:54</td>   <td>-16</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTestNg.startTimer()[pri:0, instance:coding.PrintingTriangle@31ef45e3]">&gt;&gt;startTimer</td> 
<td>&nbsp;</td>  <td>main@1795799895</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>19/07/06 10:25:54</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTestNg.startTimer()[pri:0, instance:coding.PrintingTriangle@31ef45e3]">&gt;&gt;startTimer</td> 
<td>&nbsp;</td>  <td>main@1795799895</td>   <td></td> </tr>
</table>
